<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileclient.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
         android:targetSdkVersion="8"
         /> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.mobileclient.app.Declare">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="MainActivity"></activity>
        <activity android:name="MoreActivity"></activity>
        <activity android:name="AboutActivity"></activity>
        <activity android:name="RegisterActivity"></activity>
        <activity android:name="MainMenuActivity"></activity>
        <activity android:name="UserInfoListActivity"></activity>
        <activity android:name="UserInfoQueryActivity"></activity>
        <activity android:name="UserInfoAddActivity"></activity>
        <activity android:name="UserInfoEditActivity"></activity>
        <activity android:name="UserInfoDetailActivity"></activity>
        <activity android:name="DepartmentListActivity"></activity>
        <activity android:name="DepartmentQueryActivity"></activity>
        <activity android:name="DepartmentAddActivity"></activity>
        <activity android:name="DepartmentEditActivity"></activity>
        <activity android:name="DepartmentDetailActivity"></activity>
        <activity android:name="PositionListActivity"></activity>
        <activity android:name="PositionQueryActivity"></activity>
        <activity android:name="PositionAddActivity"></activity>
        <activity android:name="PositionEditActivity"></activity>
        <activity android:name="PositionDetailActivity"></activity>
        <activity android:name="LeaveTypeListActivity"></activity>
        <activity android:name="LeaveTypeQueryActivity"></activity>
        <activity android:name="LeaveTypeAddActivity"></activity>
        <activity android:name="LeaveTypeEditActivity"></activity>
        <activity android:name="LeaveTypeDetailActivity"></activity>
        <activity android:name="LeaveInfoListActivity"></activity>
        <activity android:name="LeaveInfoQueryActivity"></activity>
        <activity android:name="LeaveInfoAddActivity"></activity>
        <activity android:name="LeaveInfoEditActivity"></activity>
        <activity android:name="LeaveInfoDetailActivity"></activity>
        <activity android:name="DayTimeTypeListActivity"></activity>
        <activity android:name="DayTimeTypeQueryActivity"></activity>
        <activity android:name="DayTimeTypeAddActivity"></activity>
        <activity android:name="DayTimeTypeEditActivity"></activity>
        <activity android:name="DayTimeTypeDetailActivity"></activity>
        <activity android:name="NoteListActivity"></activity>
        <activity android:name="NoteQueryActivity"></activity>
        <activity android:name="NoteAddActivity"></activity>
        <activity android:name="NoteEditActivity"></activity>
        <activity android:name="NoteDetailActivity"></activity>
        <activity android:name="TaskListActivity"></activity>
        <activity android:name="TaskQueryActivity"></activity>
        <activity android:name="TaskAddActivity"></activity>
        <activity android:name="TaskEditActivity"></activity>
        <activity android:name="TaskDetailActivity"></activity>
        <activity android:name="HistoryTaskListActivity"></activity>
        <activity android:name="HistoryTaskQueryActivity"></activity>
        <activity android:name="HistoryTaskAddActivity"></activity>
        <activity android:name="HistoryTaskEditActivity"></activity>
        <activity android:name="HistoryTaskDetailActivity"></activity>
        <activity android:name="NewsListActivity"></activity>
        <activity android:name="NewsQueryActivity"></activity>
        <activity android:name="NewsAddActivity"></activity>
        <activity android:name="NewsEditActivity"></activity>
        <activity android:name="NewsDetailActivity"></activity>

        <activity android:name="photoListActivity"></activity>
        <activity android:name="fileListActivity"></activity>
    </application>

    
    <uses-permission android:name="android.permission.INTERNET" />

	<!-- 文件读写权限 -->
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"></uses-permission>
	
	
</manifest>
